* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    margin: 0;
    z-index: 9999999;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* LANDING PAGE / LOGIN */

header {
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    header .btn {
        float: right;
        width: 100px;
        height: 36px;
        border: 1px solid #FFF;
        /*background: #FFF;*/
        border-radius: 14px;
        margin-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    header .btn:hover {
        box-shadow: inset 0 0 2px #FFF;
        border: 2px solid #FFF;
    }
    
    .btn p {
        color: #FFF;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }

.landing-background {
    height: 100vh;
    width: 100%;
    position: relative; 
    background: #000;
} 

    .landing-background div {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
      
    .img-4 {
        background: url("../assets/stars-compressor.jpg") no-repeat center center;;
        background-size: cover;  
    }
    
    .img-3 {
        background: url("../assets/beach-compressor.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .img-2 {
        background: url("/assets/highway-time-lapse-compressor.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .img-1 {
        background: url("/assets/woods-trail-compressor.jpg") no-repeat center center;
         background-size: cover;
    }
    
.title-box {
    z-index: 9999;
    text-align: center;
}

    .title-box h1 {
        margin: 0;
        font-family: 'Nothing You Could Do', 'Open Sans', sans-serif;
        color: #FFF;
        font-size: 68px;
    }
    
    .title-box h5 {
        margin: -10px 0 0 0;
        font-family: 'Nothing You Could Do', 'Open Sans', sans-serif;
        color: #FFF;
        font-size: 22px;
        font-weight: 100;
    }

/* Multiple Images FadeIn/FadeOut */

@-webkit-keyframes backgroundImgFader {
    0% {
    opacity:1;
    }
    17% {
    opacity:1;
    }
    25% {
    opacity:0;
    }
    92% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-moz-keyframes backgroundImgFader {
    0% {
    opacity:1;
    }
    17% {
    opacity:1;
    }
    25% {
    opacity:0;
    }
    92% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-o-keyframes backgroundImgFader {
    0% {
    opacity:1;
    }
    17% {
    opacity:1;
    }
    25% {
    opacity:0;
    }
    92% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@keyframes backgroundImgFader {
    0% {
    opacity:1;
    }
    17% {
    opacity:1;
    }
    25% {
    opacity:0;
    }
    92% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.landing-background div {
  -webkit-animation-name: backgroundImgFader;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;

  -moz-animation-name: backgroundImgFader;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 16s;

  -o-animation-name: backgroundImgFader;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 16s;

  animation-name: backgroundImgFader;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}
.landing-background div:nth-of-type(1) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
.landing-background div:nth-of-type(2) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
.landing-background div:nth-of-type(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.landing-background div:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

/* * * * * * * * * */

.landing-wrap-parallax {
    height: 100vh;
    /*overflow-x: hidden;*/
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax_layer_base {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_layer_back { 
    transform: translateZ(-1px) scale(2); 
}

.landing-content-container {
    margin-top: 100vh;
    width: 100%;
    height: 90vh;
    background: #FFF;
    border: 1px solid red;
}

    .landing-content-container .row {
        border: 1px solid green;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .row .col {
        margin: 0 12px;
        display: inline-block;
        /*width: 49%;*/
        height: 100%;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* * * * * * * ** * * * * * * * */
    
/* USER HOME */
    
.dashboard {
    background: #adddcf;
    height: 110px;
    width: 100%;
    display: flex;
    position: relative;
}

.user-img {
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

    .user-img img {
        height: 85px;
        border: 1px solid #FFF;
        border-radius: 50%;
    }
    
.user-info {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center; 
}

    .user-info .row {
        /*border: 1px solid red;*/
        display: flex;
        align-items: center;

    }
    
    .row h4 {
        font-family: 'Nothing You Could Do', 'Open Sans', sans-serif;
        color: #FFF;
        font-size: 34px;
        margin: 0;

    }
    
    .user-info p {
        font-family: 'Open Sans', sans-serif;
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        margin: -6px 0 0 0 ;
        display: flex;
        align-items: center;
        /*border: 1px solid red;*/
    }
    
.fa-modx {
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    color: #FFF;
    margin-left: 18px;
}

.action-container {
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 0px, transparent 0px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    background: #fff;
    opacity: 0.7;
    height: 95%;
    width: 75%;
    border: 2px solid #a4d2df;
    border-radius: 10px;
}

.view-header {
    /*border: 1px solid red;*/
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.view h2 {
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    margin: 0;
    padding-left: 20px;
}

.search-box {
    margin-left: auto;
    margin-right: 20px;
    border: 1px solid #adddcf;
    background: #FFF;
    border-radius: 4px;
    height: 36px;
    width: 250px;
    text-align: center;
}

.view input {
    height: 99%;
    width: 98%;
    margin: 0 1px;
    border: 0;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
}
